<h1>Welcome</h1>
<div>
<h4>Register</h4>
<form class="form-inline" action="/register" method="POST">
  <div class="form-group">
<label for="fullname">Your full name:</label>
<input type="email" class="form-control" id="fullname" name="user[fullname]">
</div>
  <div class="form-group">
<label for="email">Email address:</label>
<input type="email" class="form-control" id="email" name="user[email]">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="password" class="form-control" id="pwd" name="user[password]">
</div>
<label for="preferences">Your home country:</label>  <br>
  <select name="user[country]" class="preference">
    <option value= "">
    <option value= >
    <% @countries.each do |country| %>
    <%= country.name %>
    <option value= <%= country.name %>>
      <% end %>
  </select><br><br>
<h4>Preferences</h4>
<br>
<label for="preferences">Country number 1:</label>  <br>
  <select name="user[preferable=country]" class="preference">
    <option value= "">
    <option value= >
    <% @countries.each do |country| %>
    <%= country.name %>
    <option value= <%= country.name %>>
      <% end %>
  </select><br><br>

<label for="preferences">Country number 2:</label>  <br>
  <select name="user[preferable=country2]" class="preference">
    <option value= "">
    <option value= >
    <% @countries.each do |country| %>
    <%= country.name %>
    <option value= <%= country.name %>>
      <% end %>
  </select><br><br>
  <label for="preferences">Any specific languages you are looking for?</label>  <br>
  <select name="user[preferable=language]" class="preference">
    <option value= "">
    <option value= >
    <% @languages.each do |language| %>
    <%= language.name %>
    <option value= <%= language.name %>>
      <% end %>
    </select><br><br>

  <label for="preferences">What mood are you looking for?</label>  <br>
  <select name="user[preferable=mood]" class="preference">
    <option value= "">
    <option value= >
    <% @moods.each do |mood| %>
    <%= mood.activity %>
    <option value= <%= mood.activity %>>
      <% end %>
    </select>  <br><br>
  <br>
  <br>
<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
